@model NbuLibrary.Web.Models.PasswordRecoveryModel
@{
    ViewBag.Title = "Recover Password";
    Layout = "_Login.cshtml";
}

<h3 class="form-signin-heading">Забравена парола</h3>
<form class="form-horizontal" method="post">
    @Html.HiddenFor(model => model.RecoveryCode)
    @Html.HiddenFor(model => model.Email)

    <div class="alert alert-info">
        Полетата, маркирани с *, са задължителни.
    </div>
    <fieldset>
        <legend>Нова парола</legend>
        <div>
            @Html.ValidationSummary(true)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password, new { autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <br/>
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword, new { autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div>
            <hr/>
            <input type="submit" class="btn btn-primary" value="Напред" />
        </div>
    </fieldset>
</form>
